altair==4.1.0
autonomous_learning_library==0.6.2
beautifulsoup4==4.9.3
configs==3.0.3
configuration==0.4.2
evaluation==0.0.2
google_api_python_client==2.7.0
gym==0.18.0
keras==2.13.1
numpy==1.19.2
pandas==1.2.2
psycopg2==2.7.5
pybullet==3.1.6
PyPDF2==3.0.1
rl==3.1
scipy==1.6.2
selectolax==0.3.16
sentence_transformers==1.1.1
simpletransformers==0.61.4
stable_baselines3==1.0
streamlit==1.9.0
torch==1.8.1+cu111
transformers==4.5.1
warc==0.2.1